Package: com.leftyfl1p.springround
Name: RiftBoard
Depends: mobilesubstrate, libactivator, ws.hbang.common
Version: 1.0
Architecture: iphoneos-arm
Description: Homescreen icons in any app!
Maintainer: leftyfl1p <leftyfl1p@icloud.com>
Author: leftyfl1p <leftyfl1p@icloud.com>
Section: Tweaks
Depiction: https://leftyfl1p.github.io/depictions/riftboard