<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
		    <key>cell</key>
		    <string>PSGroupCell</string>
		    <key>label</key>
		    <string>Translation Credits</string>
		</dict>

		<dict>
		    <key>cell</key>
		    <string>PSTitleValueCell</string>
		    <key>label</key>
		    <string>Deutsch</string>
		    <key>get</key>
		    <string>valueForSpecifier:</string>
		</dict>

		<dict>
		    <key>cell</key>
		    <string>PSTitleValueCell</string>
		    <key>label</key>
		    <string>한국어</string>
		    <key>get</key>
		    <string>valueForSpecifier:</string>
		</dict>

		<dict>
		    <key>cell</key>
		    <string>PSTitleValueCell</string>
		    <key>label</key>
		    <string>Türkçe</string>
		    <key>get</key>
		    <string>valueForSpecifier:</string>
		</dict>

		<dict>
		    <key>cell</key>
		    <string>PSTitleValueCell</string>
		    <key>label</key>
		    <string>suomalainen</string>
		    <key>get</key>
		    <string>valueForSpecifier:</string>
		</dict>

		<dict>
		    <key>cell</key>
		    <string>PSTitleValueCell</string>
		    <key>label</key>
		    <string>Română</string>
		    <key>get</key>
		    <string>valueForSpecifier:</string>
		</dict>

		<dict>
		    <key>cell</key>
		    <string>PSTitleValueCell</string>
		    <key>label</key>
		    <string>català</string>
		    <key>get</key>
		    <string>valueForSpecifier:</string>
		</dict>

		<dict>
		    <key>cell</key>
		    <string>PSTitleValueCell</string>
		    <key>label</key>
		    <string>العربية</string>
		    <key>get</key>
		    <string>valueForSpecifier:</string>
		</dict>

		<dict>
		    <key>cell</key>
		    <string>PSTitleValueCell</string>
		    <key>label</key>
		    <string>Melayu</string>
		    <key>get</key>
		    <string>valueForSpecifier:</string>
		</dict>

		<dict>
		    <key>cell</key>
		    <string>PSTitleValueCell</string>
		    <key>label</key>
		    <string>Malti</string>
		    <key>get</key>
		    <string>valueForSpecifier:</string>
		</dict>

		<dict>
		    <key>cell</key>
		    <string>PSTitleValueCell</string>
		    <key>label</key>
		    <string>עברית</string>
		    <key>get</key>
		    <string>valueForSpecifier:</string>
		</dict>

		<dict>
		    <key>cell</key>
		    <string>PSTitleValueCell</string>
		    <key>label</key>
		    <string>Русский</string>
		    <key>get</key>
		    <string>valueForSpecifier:</string>
		</dict>

	</array>
	<key>title</key>
	<string>Translation Credits</string>
</dict>
</plist>
