<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ACTIVATION OPTIONS</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Show Action</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>activatorListener</key>
			<string>com.leftyfl1p.sbtest/show</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Dismiss Action</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>activatorListener</key>
			<string>com.leftyfl1p.sbtest/dismiss</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>VISUAL OPTIONS</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>key</key>
			<string>blur</string>
			<key>id</key>
			<string>blur</string>
			<key>default</key>
			<string>light</string>
			<key>defaults</key>
			<string>com.leftyfl1p.springround</string>

			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>No Blur</string>
				<string>Light Blur</string>
				<string>Dark Blur</string>
			</array>

			<key>PostNotification</key>
    		<string>com.leftyfl1p.springround/ReloadPrefs</string>

		</dict>


        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>isController</key>
            <string>1</string>
            <key>label</key>
            <string>Blur Options</string>
            <key>detail</key>
            <string>RiftBoardBlurListController</string> <!-- AboutController brings up teh standard about page -->
        </dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.leftyfl1p.springround</string>
			<key>key</key>
			<string>useBlur</string>
			<key>label</key>
			<string>Background Blur</string>
			<key>PostNotification</key>
    		<string>com.leftyfl1p.springround/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.leftyfl1p.springround</string>
			<key>key</key>
			<string>allowAppInteraction</string>
			<key>id</key>
			<string>allowAppInteraction</string>
			<key>label</key>
			<string>Allow App Interaction</string>
			<key>PostNotification</key>
    		<string>com.leftyfl1p.springround/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.leftyfl1p.springround</string>
			<key>key</key>
			<string>useQuickHomeButtonDismiss</string>
			<key>label</key>
			<string>Quick Home Button Dismiss</string>
			<key>PostNotification</key>
    		<string>com.leftyfl1p.springround/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
            <string>Thanks to @byturna for the preference icon!</string>
		</dict>

		<dict>
		    <key>cellClass</key>
		    <string>HBTwitterCell</string>
		    <key>label</key>
		    <string>Tweak Updates</string>
		    <key>user</key>
		    <string>leftyfl1p</string>
		</dict>

	</array>
	<key>title</key>
	<string>RiftBoard</string>
</dict>
</plist>
