<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
		    <key>cell</key>
		    <string>PSGroupCell</string>
		    <key>headerCellClass</key>
		    <string>HBPackageNameHeaderCell</string>
		    <key>packageIdentifier</key>
		    <string>com.leftyfl1p.springround</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ACTIVATION OPTIONS</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Show Action</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>activatorListener</key>
			<string>com.leftyfl1p.sbtest/show</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Dismiss Action</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>activatorListener</key>
			<string>com.leftyfl1p.sbtest/dismiss</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.leftyfl1p.springround</string>
			<key>key</key>
			<string>useHomeButton</string>
			<key>label</key>
			<string>Use Home Button</string>
			<key>PostNotification</key>
    		<string>com.leftyfl1p.springround/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>VISUAL OPTIONS</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.leftyfl1p.springround</string>
			<key>key</key>
			<string>useBlur</string>
			<key>label</key>
			<string>Background Blur</string>
			<key>PostNotification</key>
    		<string>com.leftyfl1p.springround/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.leftyfl1p.springround</string>
			<key>key</key>
			<string>allowAppInteraction</string>
			<key>label</key>
			<string>Allow App Interaction</string>
			<key>PostNotification</key>
    		<string>com.leftyfl1p.springround/ReloadPrefs</string>
		</dict>

		

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.leftyfl1p.springround</string>
			<key>key</key>
			<string>useQuickHomeButtonDismiss</string>
			<key>label</key>
			<string>Quick Home Button Dismiss</string>
			<key>PostNotification</key>
    		<string>com.leftyfl1p.springround/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
            <string>Thanks to @byturna for the preference icon!</string>
		</dict>

		<dict>
		    <key>cellClass</key>
		    <string>HBTwitterCell</string>
		    <key>label</key>
		    <string>New Tweaks and Updates</string>
		    <key>user</key>
		    <string>leftyfl1p</string>
		</dict>

	</array>
	<key>title</key>
	<string>RiftBoard</string>
</dict>
</plist>
