<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Activation Options</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Show Action</string>
<!-- 			<key>icon</key>
			<string>icons/Show</string> -->
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>activatorListener</key>
			<string>com.leftyfl1p.springround/show</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Dismiss Action</string>
<!-- 			<key>icon</key>
			<string>icons/Dismiss</string> -->
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>activatorListener</key>
			<string>com.leftyfl1p.springround/dismiss</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Visual and Functional Options</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>key</key>
			<string>blur</string>
			<key>id</key>
			<string>blur</string>
			<key>default</key>
			<string>light</string>
			<key>defaults</key>
			<string>com.leftyfl1p.springround</string>

			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>No Blur</string>
				<string>Light Blur</string>
				<string>Dark Blur</string>
			</array>

			<key>PostNotification</key>
    		<string>com.leftyfl1p.springround/ReloadPrefs</string>

		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.leftyfl1p.springround</string>
<!-- 			<key>icon</key>
			<string>icons/AllowAppInteraction</string> -->
			<key>key</key>
			<string>allowAppInteraction</string>
			<key>id</key>
			<string>allowAppInteraction</string>
			<key>label</key>
			<string>Allow App Interaction</string>
			<key>PostNotification</key>
    		<string>com.leftyfl1p.springround/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.leftyfl1p.springround</string>
			<key>key</key>
			<string>useQuickHomeButtonDismiss</string>
			<key>label</key>
			<string>Quick Dismiss</string>
			<key>PostNotification</key>
    		<string>com.leftyfl1p.springround/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
            <string>Experimental</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.leftyfl1p.springround</string>
			<key>key</key>
			<string>allowRotation</string>
			<key>label</key>
			<string>Allow Rotation</string>
			<key>PostNotification</key>
    		<string>com.leftyfl1p.springround/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
            <string>Credits</string>
		</dict>

		<dict>
		    <key>cellClass</key>
		    <string>HBTwitterCell</string>
		    <key>label</key>
		    <string>Alex</string>
		    <key>user</key>
		    <string>leftyfl1p</string>
		</dict>

		<dict>
		    <key>cell</key>
		    <string>PSButtonCell</string>
		    <key>cellClass</key>
		    <string>HBLinkTableCell</string>
		    <key>label</key>
		    <string>Donate via PayPal</string>
<!-- 		    <key>icon</key>
			<string>icons/PayPal</string> -->
		    <key>url</key>
		    <string>http://example.com/</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
            <string>fluent translators wanted! email me! free copy reward!</string>
		</dict>

		<dict>
		    <key>cell</key>
		    <string>PSButtonCell</string>
		    <key>label</key>
		    <string>Translation Credits</string>
<!-- 		    <key>icon</key>
			<string>icons/Translate</string> -->
		</dict>		

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>

		<dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>isController</key>
            <string>1</string>
            <key>label</key>
            <string>Support</string>
            <key>detail</key>
            <string>RiftBoardSupportListController</string>
<!--             <key>icon</key>
			<string>icons/Support</string> -->
        </dict>

	</array>
	<key>title</key>
	<string>RiftBoard</string>
</dict>
</plist>
